h1 {font-family: 'Oswald', sans-serif;
	font-size: 45px;
}
h2 {font-family: 'Oswald', sans-serif;
	font-size: 28px;
}
p {font-family: 'Roboto', sans-serif;
	font-size: 20px;}

body {background-color:#669999;
	  font-family: 'Roboto', sans-serif;}
img {width:100%;
	   height: 300px;
	   margin: auto;
	   display:block;
	   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	   border-radius: 2%;
	   }


#formi {margin:auto;
		display:block;
		text-align:center;
		padding-top: 30px;
		width: 80%;
		background-color:rgba(240, 245, 245, 0.2);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 3%;
		}
input[type="text"] {background-color:#e0ebeb;
		width: 50%;
		height:50px;
		font-family: 'Roboto', sans-serif;}
		
input[type="radio"] {
	position:relative;
	
}
input{
	
}
		
#submitBtn {font-family: 'Oswald', sans-serif;
			font-size: 25px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			
}

@media (max-width: 1200px) {
h1 {
  font-size: 25px;
}
h2 {
  font-size: 22px;
}
p {
  font-size: 20px;
}
input [type="text"]{height: 100%;
	   width: 90%;}
	   
input[type="radio"] {}

img {height:200px;}

#formi {width:90%;}
}

@media (max-width: 900px) {

h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
p {
  font-size: 15px;
}
input [type="text"]{height: 100%;
	   width: 90%;}
	   
input[type="radio"] {}

img {height:150px;}

#formi {width:90%;}
}

